
.imagenInicio{
    
    min-height: 400px;
    background-image: url('../imagenes/foto-paginainicio.jpg');
    background-size: cover;
    background-position: center;

}

.parrafoInicio {
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-style: oblique;
   text-align:center;
   
   
}

.reservaInicio {
    background-color: bisque;
}

.parrafoReserva {
    font-family: fantasy;
    color: coral;
    margin-top: 600px;
 
}


.botonRegistrate {
    color: coral; 
}

.carrusel {
    background-color:gainsboro;
}

.carousel-item{
    margin-top: 50px;
    margin-bottom: 150px;
    max-height: 500px;
    
}

.imagenMenuSemanal{
  object-fit: cover;
  width:100%;
  height:100%;
}

.seccionInicio{
    background: rgba(247, 243, 243, 0.573);
    margin: 5rem;
    border-radius: 20px;
}

@media screen and (max-width:700px){
    .imagenMenuSemanal{
        max-width: 350px;
      }
    .carousel-item{
        max-height: 400px;
    }
    
}

@media screen and (max-width:500px){

    .carousel-item{
        max-height: 300px;
    }
}