.seccionformulario {
    background-image: url('../imagenes/foto-comidaadomicilio.jpg');
    padding-top: 80px;
    padding-bottom: 80px;
}

.formulario1 {
    background-color:coral;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

